<div class="container">
  <br/>
  <h1>Cálculo do Investimento</h1>
  <br/>

  <form>
    <div class="row">
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="Investimento">
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" placeholder="Meses">
      </div>
      <div class="col-sm">
        <button class="btn btn-outline-success">Calcular</button>
      </div>
    </div>
  </form>
  <br/>
  <br/>
  <h3>Retorno</h3>
  <hr>
  <table class="table">
    <thead>
      <th scope="col">Investimento</th>
      <th scope="col">Rendimento Bruto</th>
      <th scope="col">Rendimento Líquido</th>
      <th scope="col">Imposto</th>
      <th scope="col">Valor Final Bruto</th>
      <th scope="col">Valor Final Líquido</th>
    </thead>
    <tbody>
      <tr>
        <td>{{cdbCalculation.investiment}}</td>
        <td>{{cdbCalculation.grossIncome}}</td>
        <td>{{cdbCalculation.netIncome}}</td>
        <td>{{cdbCalculation.taxDiscountValue}}</td>
        <td>{{cdbCalculation.totalGrossInvestmentValue}}</td>
        <td>{{cdbCalculation.totalNetInvestmentValue}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <h3>Evolução</h3>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mês</th>
        <th scope="col">Valor Inicial</th>
        <th scope="col">Valor Final Bruto</th>
        <th scope="col">Rendimento Bruto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cdbCalculation.monthlyCalculations">
        <th scope="row">{{ item.month }}</th>
        <td>{{ item.initialValue }}</td>
        <td>{{ item.finalValue }}</td>
        <td>{{ item.grossIncome }}</td>
      </tr>
    </tbody>
  </table>
</div>
