<div class="container">
  <br />
  <h1>Cálculo do Investimento</h1>
  <br />

  <form method="post" (ngSubmit)="getCdbCalculation()">

  </form>
  <form>
    <div class="row">
      <div class="col-sm">
        <input type="number" class="form-control" placeholder="Investimento" required [formControl]="investiment" />
      </div>
      <div class="col-sm">
        <input type="number" class="form-control" placeholder="Meses" required [formControl]="months" />
      </div>
      <div class="col-sm">
        <button type="button" (click)="getCdbCalculation()" class="btn btn-outline-success">Calcular</button>
      </div>
    </div>
  </form>
  <br />
  <br />
  <h3>Retorno</h3>
  <hr />
  <table class="table">
    <thead>
      <th scope="col">Investimento</th>
      <th scope="col">Rendimento Bruto</th>
      <th scope="col">Rendimento Líquido</th>
      <th scope="col">Imposto</th>
      <th scope="col">Valor Final Bruto</th>
      <th scope="col">Valor Final Líquido</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ cdbCalculation.investiment }}</td>
        <td>{{ cdbCalculation.grossIncome }}</td>
        <td>{{ cdbCalculation.netIncome }}</td>
        <td>{{ cdbCalculation.taxDiscountValue }}</td>
        <td>{{ cdbCalculation.totalGrossInvestmentValue }}</td>
        <td>{{ cdbCalculation.totalNetInvestmentValue }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <h3>Evolução</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mês</th>
        <th scope="col">Valor Inicial</th>
        <th scope="col">Valor Final Bruto</th>
        <th scope="col">Rendimento Bruto</th>
      </tr>
    </thead>
    <tbody
      *ngIf="
        cdbCalculation.monthlyCalculations &&
        cdbCalculation.monthlyCalculations.length
      "
    >
      <tr *ngFor="let item of cdbCalculation.monthlyCalculations">
        <th scope="row">{{ item.month }}</th>
        <td>{{ item.initialValue }}</td>
        <td>{{ item.finalValue }}</td>
        <td>{{ item.grossIncome }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <h3>Tabela de Imposto</h3>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mês Inicial</th>
        <th scope="col">Mês Final</th>
        <th scope="col">Percentual</th>
      </tr>
    </thead>
    <tbody *ngIf="taxDiscounts && taxDiscounts.length">
      <tr *ngFor="let item of taxDiscounts">
        <td>{{ item.startingMonth }}</td>
        <td>{{ item.endingMonth }}</td>
        <td>{{ item.percentage }}</td>
      </tr>
    </tbody>
  </table>
</div>
