<div class="container">
  <br/>
  <h1>Cálculo do Investimento</h1>
  <br/>
  <table class="table">
    <thead>
      <th scope="col">Investimento</th>
      <th scope="col">Rendimento Bruto</th>
      <th scope="col">Rendimento Líquido</th>
      <th scope="col">Imposto</th>
      <th scope="col">Valor Final Bruto</th>
      <th scope="col">Valor Final Líquido</th>
    </thead>
    <tbody>
      <tr>
        <td>{{cdbCalculation.investiment}}</td>
        <td>{{cdbCalculation.grossIncome}}</td>
        <td>{{cdbCalculation.netIncome}}</td>
        <td>{{cdbCalculation.taxDiscountValue}}</td>
        <td>{{cdbCalculation.totalGrossInvestmentValue}}</td>
        <td>{{cdbCalculation.totalNetInvestmentValue}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <h3>Evolução</h3>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Mês</th>
        <th scope="col">Valor Inicial</th>
        <th scope="col">Valor Final Bruto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cdbCalculation.monthlyCalculations">
        <th scope="row">{{ item.month }}</th>
        <td>{{ item.initialValue }}</td>
        <td>{{ item.finalValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
